.repository-wrapper{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.repositories-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.5rem;
    padding:1rem ;
    margin:1rem; 
}

@media screen and (max-width:1360px){
    .repositories-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        left:auto;
        right: auto;
        margin-bottom: 1rem;
    }
    
}
@media screen and (min-width:1360px){
    .repositories-section {
margin-bottom:1rem ;

    }
}

@media screen and (max-width:1360px){
    .Repository-h2{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        left :auto;
        right: auto;

    }
}
.repositories-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 15px;
    
    width: 300px;
    height: 200px;
   
    
    
}
.repository-title-space{
    border-radius: 20px 20px 0 0; 
    /* height: 120px; */
    padding: 3rem 0;
    width: 100%;
    background-color: gray;
    
    
}
.repository-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: center;
    
}
.repository-star-fork{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
    background-color: rgb(233, 181, 113);
    border-radius: 0 0 20px 20px;
}

.Repository-h2{
    text-align: center;
}